:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
    --font: BlinkMacSystemFont --apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantalrell", "Fira Sans", "Droid Sans", "Arial", "sans-serif"
}


/** Saber el espacio que ocupa un elemento **/


/* {
    outline: 1px solid olive;
}*/

.contenedor {
    padding: 10%;
}

table {
    width: 80%;
    margin: 10%;
}

.celda {
    padding-left: 3%;
}

* body {
    background-color: var(--nord0);
    font-family: var(--font);
}

.portada {
    background-color: white;
    color: black;
}

h1,
h2,
h3 {
    color: black;
    font-weight: bold;
}

header,
section {
    width: 1500px;
    margin: 0 auto;
    display: flex;
    background-color: var(--nord3);
}

header,
section,
article {
    border: solid black;
}

.presentacion {
    text-align: center;
}

.perfil {
    text-align: justify;
    padding: 3%;
}

.laboral {
    text-align: center;
}

ul {
    list-style-type: none;
}

progress {
    width: 90%;
}

article {
    width: 100%;
    padding: 5% 1% 5% 3%;
}

img {
    padding: 6%;
    border-radius: 50%;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

.bloque {
    margin-top: 10%;
    text-align: center;
}
